body{
    background-color: #b86303de;
}
h1{
    font-family: 'Yusei Magic', sans-serif;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size: 70px;
    font-weight: bolder;
}
    
button{
    width: 150px;
    height: 150px;
    overflow:hidden;
    background-color: white;
    border-color: rgb(2, 2, 0);
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
}

body div:first-of-type{
    margin-top: 5%;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: brown;
}